body{
    background-color: rgb(204, 208, 208);
    color: black;
   
}
thead{
    background-color: rgb(255, 0, 51);
    color: rgb(1, 1, 13);
}
td{
    border: 3px solid rgb(20, 35, 247);
}
tbody{
    background-color: aqua;
    color: brown;
}
.red{
    background-color: rgb(11, 250, 250);
}
.blue{
    background-color: rgb(245, 220, 239);
}
#b121 {
    color: rgb(27, 34, 235);
}
h1{
    border: 5px solid green;
    padding: 20px;
    margin: 10 px;
    background-color: blueviolet;
    height: 85px;
    width: 500px;
    box-sizing: border-box;
    
}
img{

    border:8px solid rgb(52, 14, 220);
    padding: 5px;
    margin: 4px;
    height: 300px;
    width: 240px;
    box-sizing: border-box;

}